.footerColor {
    background-color: #77CEC6;
    width: 100%;
}


.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    min-height: 300px;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

@font-face {
    font-family: 'CustomFont';
    ;
    src: url(../fonts/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

h2 {
    font-family: 'BebasNeue';
    font-size: 24px;
}

p {
    font-family: 'CustomFont';
    font-size: 16px;
    text-align: justify;
}

div {
    padding: 30px;
    box-sizing: border-box;
}


.copyright {
    font-family: 'CustomFont';
    font-size: 15px;
    text-align: center;
    grid-column: 1 / -1;
}