body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    font-size: 1.5rem;
    background: linear-gradient(135deg, #285A71 0%, #5B4A9A 100%);

}

.mainSection {
    max-width: 1200px;
    margin: 0 auto;
}


.containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}


.card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box; 
    min-width: 0;
}

.nameCard {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.card img {
width: 100%;
}

.buy {
width: 100%;
text-align: center;
color: white;
font-size: 1.25rem;
background-color: #5B4A9A;
}

@media (min-width: 400px) {

.containerGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}
}


@media (min-width: 800px) {

.containerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}
}

@media (min-width: 1000px) {

.containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}
}

h2 {
    font-family: 'BebasNeue', Arial, sans-serif;
    color: white;
    padding-top: 20px;
    font-size: 2em;
    letter-spacing: 0.2em;
}

h3 {
    font-family: 'BebasNeue', Arial, sans-serif;
    letter-spacing: 0.05em;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../fonts/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.cardsHouse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}