.navbar {
    font-family: 'BebasNeue', Arial, sans-serif;
    letter-spacing: 0.15rem;
    background-color: #77CEC6;
    width: 100%;
    padding: 12px 0;
}

.navbar-container {
    margin: 0 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.navbar-container img {
width: 100px;
height: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
}


.navbar-list {
    list-style: none;
    display: flex;
    gap: 32px;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-link:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .navbar-list {
        gap: 20px;
    }
}

@media (max-width: 600px) {

    .navbar-container {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .navbar-list {
        width: 100%;
        justify-content: center;
        gap: 16px;
        flex-grow: 0;
    }

    .navbar-link {
        font-size: 15px;
    }
}
